
.navbar{
    background-color: #ff9999 !important; font-weight: bold;
}
.nav-link{
    color: #1a0000 !important;
}
.logo{
    height: 40px; width: 120px;
}
.fa-shopping-cart{
    color: black;
    font-size: 30px !important;
}
.fa-user-circle{
    color: black;
    font-size: 28px !important;
}
.nav-item:hover{
    text-decoration: underline;
}
.carousel-caption{
    font-weight: bolder;color:antiquewhite !important;
}
.fa-truck{
    font-size: 60px !important;
}
.Card-1{
    display: flex;height: 70px;width:300px;background-color: #ff9999;box-shadow: 2px 4px 5px grey;justify-content:center;color: #1a0000;margin-top: 10px;border-radius: 8px;
}
.Main-card{
    margin-top: 30px;display: flex;justify-content: space-around;flex-wrap: wrap;margin-top: 10px;
}
.fa-phone{
    font-size: 60px !important;  
}
.Card-2{
    display: flex;height: 70px;width:300px;background-color: #ff9999;box-shadow: 2px 4px 5px grey;justify-content: center;color: #1a0000;margin-top: 10px;border-radius: 8px;
}
.fa-thumbs-up{
    font-size: 60px !important
}
.Card-3{
    display: flex;height: 70px;width:300px;background-color: #ff9999;box-shadow: 2px 4px 5px grey;justify-content: center;color: #1a0000;margin-top: 10px;border-radius: 8px;
}
.New-Arrival{
    margin-top: 40px;justify-content:flex-start ;
}
.Card{
    width: 200px;height: 200px;
}
.btn-primary{
    width:100%;background-color: #ff9999;box-shadow: 2px 4px 5px grey;border: none;color: #1a0000
}
.card-img-1,.card-img-2,.card-img-3,.card-img-4{
    height: 200px;width: 200px;
}
.heading{
    display: flex;justify-content: center;font-weight: bold;color: #ff9999;text-shadow: 2px 2px 4px black;
}